{% if is_token_generated == true %}
    {% trans %}Token.sent{% endtrans %}
{% endif %}
<form action="" method="post" {{ form_enctype(form) }}>

    {{ form_widget(form) }}

    <button>{% trans %}Submit{% endtrans %}</button>
</form>